*{
    padding:5px;
    text-align:center;
}

input {
  width: 30%;
  max-width: 300px;
  border-radius: 4px;
}

label {
  width: 30%;
  text-align: right;
}

.tweet{
  width: 70%;
  max-width: 100%;
  border-radius: 4px;
}

.container{
    width:80%;
    margin:auto;
    border:5px blue solid;
    border-radius:50%;
}

.form_class{
    background-color:.green;
}


