<div fxFlexLayout="end center">
  <div>
    <button *ngIf="!show" mat-raised-button class="mat_btn" (click)="toggle()">
      <img src="../../../assets/images/msg.png" style="width: 18px; height: 14.35px;">
      Let's Chat


    </button>
  </div>
  <button *ngIf="show" class="icon" (click)="toggle()" mat-icon-button>
    <img src="../../../assets/icons/outline_clear_white_18dp.png">
  </button>
</div>
<div fxFlex.m=60 class="main">
  <mat-card class="card" *ngIf="show">
    <mat-toolbar class="tool">
      <div fxLayout="row" fxFlexLayout="space-between center">
        <div fxFlexLayout="start center">
          <img src='../../../assets/images/Group 2949.png' class="img">
        </div>
        <div fxLayout="column">
          <div class="mat_title">
            Bridgelabz is online
          </div>
          <p class="subtitle">Solving Emerging Tech Employability</p>
        </div>
      </div>
    </mat-toolbar>
    <div  #scrollMe [scrollTop]="scrollMe.scrollHeight" class="msg_div">
      <div *ngFor="let array of send">

        <div class="date" fxLayout="column" fxLayoutAlign="center center">{{array.date| date: 'EEEE d MMM'}}</div>

        <div *ngIf="array.type=='S'" fxLayout="column" fxLayoutAlign="center end">
          <p class="msg" fxFlexLayout="end center">{{array.message}}</p>
          <div fxFlexLayout="center end" class="date1">{{array.date| date: 'hh:mm a'}}</div>
        </div>

        <div *ngIf="array.type=='R'" fxLayout="column" fxLayoutAlign="start">
          <p class="msg1" fxFlexLayout="start center"style="max-width: fit-content;">{{array.message}}</p>
          <div fxFlexLayout="start center" class="dt">{{array.date| date: 'hh:mm a'}}</div>
        </div>
        <div *ngIf="array.type=='L'" fxLayout="column" fxLayoutAlign="start">
          <p class="msg1" fxFlexLayout="start center" style="max-width: fit-content;">{{array.message}}
            <a href="{{array.link}}" target="_blank">Click Here</a>

          </p>
          <div fxFlexLayout="start center" class="dt">{{array.date| date: 'hh:mm a'}}</div>
        </div>

      </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxFlexLayout="space-between center">
      <input type="text" placeholder="Type Your Message..." class="input" [formControl]="newMsg"(keyup.enter)="onKeyup(sendMsg())">
      <img src='../../../assets/icons/arrow.svg' class="arrow" (click)="sendMsg()">
    </div>
  </mat-card>
</div>




